*.lang
*.class
*.obj
*.class
*.blend
*.csv
*.list
*.xml
*.ogg
*.lnk
*.psd
*.gdb_history
*.template
*.db
*.xcf
*.zip
*.asm
*.pdn
*.rar
*.jpg
*.ttf
*.orig
*.sh
*.java
*.mtl
*.DS_Store
*.gif
*.lua
*.File
*.cmd